<div class="toolbar" role="banner">
  
  
  <div class="toolbar-me-img">
    <img
      width="40"
      alt="Adiel Seffrin Profile Picture"
      src="https://media-exp2.licdn.com/dms/image/D4D03AQF_406nyAyvJA/profile-displayphoto-shrink_200_200/0/1642096514968?e=1662595200&v=beta&t=27MznypnLBJYHgVyQyc5-1Cr_8tUjMndwCUPXknu1C8"
    />
    <span>Adiel Seffrin - Link Tree</span>
  </div>
  <!-- <div class="spacer"></div> -->
  <div class="toolbar-menu-condensed">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/linktree">Home</button>
      <button mat-menu-item [matMenuTriggerFor]="workarounds">Soluções Técnicas</button>
    </mat-menu>
    
    <mat-menu #workarounds="matMenu">
      <button mat-menu-item routerLink="/code-workaround/devexpress-grid-advanced-filter">Menu Avançado - DexExtreme</button>
    </mat-menu>
  </div>
  <div class="toolbar-menu">
      <button mat-button class="mat-menu-trigger" routerLink="/linktree">Home</button>
      <button mat-button [matMenuTriggerFor]="workarounds">Soluções Técnicas</button>
    
    <mat-menu #workarounds="matMenu">
      <button 
        mat-menu-item 
        routerLink="/code-workaround/devexpress-grid-advanced-filter" 
      >
        Menu Avançado - DexExtreme
      </button>
    </mat-menu>
  </div>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<div class="footer"><span>Adiel Seffrin - {{currentYear}}</span></div>