<div class="content">
    <div class="card highlight-card card-small">
        <span>Por enquanto, só alguns links aqui.</span>
    </div>

    <!-- Resources -->
    <h2>Redes Sociais</h2>
    <p>Um ponto de partida para trocarmos umas ideias:</p>

    <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://twitter.com/adielseffrin">
        <img _ngcontent-iof-c66="" src="../assets/images/twitter-logo.svg" alt="Twitter icon" loading="lazy">
        <span>Twitter</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>
        
    <a class="card" target="_blank" rel="noopener" href="https://instagram.com/adielseffrin">
        <img _ngcontent-iof-c66="" src="../assets/images/instagram.webp" alt="Instagram icon" loading="lazy">
        <span>Instagram</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://linkedin.com/in/adielseffrin">
        <img _ngcontent-iof-c66="" src="../assets/images/linkedin.png" alt="Linkedin icon" loading="lazy">
        <span>Linkedin</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/adielseffrin">
        <img _ngcontent-iof-c66="" src="../assets/images/github.png" alt="Linkedin icon" loading="lazy">
        <span>Github</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https:/twitch.com/adielseffrin">
        <img _ngcontent-iof-c66="" src="../assets/images/twitch.webp" alt="Twtich icon" loading="lazy">
        <span>Twitch</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://blog.adielseffr.in">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M24 42v-3.55l10.8-10.8 3.55 3.55L27.55 42ZM6 31.5v-3h15v3Zm34.5-2.45-3.55-3.55 1.45-1.45q.4-.4 1.05-.4t1.05.4l1.45 1.45q.4.4.4 1.05t-.4 1.05ZM6 23.25v-3h23.5v3ZM6 15v-3h23.5v3Z"/></svg>
        <span>Blog</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    </div>
</div>